body{
    background-color: antiquewhite;
    max-width: 1200px;
    margin: auto;
}

header{
    width: 500px;
    margin: auto;
    text-align: center;
    color: rgb(175, 175, 175);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

nav{
    width: 300px;
    position: fixed;
    top: 100px;
    left: 25px;
}

main{
    width: 650px;
    margin-left: 500px;
    text-align: center;
    padding: 10px;
}

section{
    background-color: rgb(206, 206, 206);
    border: 3px rgb(101, 0, 0) solid;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
}

section img{
    border: 3px rgb(101, 1, 1);
}

footer{
    width: 300px;
    position: fixed;
    bottom: 5px;
    left: 25px;
    text-decoration: none;
    color: rgb(207, 203, 203);
}

#large_gif{
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 15%;
}

#large_gif:hover{
    background-color: rgb(189, 189, 189);
    opacity: 50%;
}

#small_gif{
    width: 250px;
}

a{
    color: rgb(203, 203, 203);
}

#classmate_names a:hover{
    background-color: rgb(0, 0, 0);
}

#rcorner{
    border-radius: 25px;
    background: #680909;
    padding: 20px; 
    width: 600px; 
  }

#rcornersfooter{
    border-radius: 25px;
    background: #680909;
    padding: 20px; 
    width: 200px;  
}

#rcornershead{
    border-radius: 25px;
    background: #680909;
    padding: 2px; 
    width: 500px; 
    text-align: center; 
    top: 25px;
}